################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01 - intro/ex02 - environment check app/.vs
/01 - intro/ex02 - environment check app/environment-check-app/.vs
